
@{
    ViewBag.Title = "Log In";
}


<h2>LogIn Page</h2>
<form>
    <div class="form-group row">
        <label for="userEmail" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="userEmail">
        </div>
    </div>
    <div class="form-group row">
        <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="userPassword">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">LogIn</button>
</form>
